.App {
  text-align: center;
}

@media screen and (min-width : 1000px){
  .navbar {
    overflow: hidden;
    background-color: #fffeff;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 3px #0c0a0c0a;
    box-shadow: 0px 3px #0c0a0c0a;
    top: 70px;
  }
  
  .App-Search{
    display: -ms-flexbox;
    display: flex;
    float: right;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 44px;
    border-radius: 60px;
    background: whitesmoke;
    -webkit-box-shadow: 0px 5px #0c0a0c0a;
    box-shadow: 0px 5px #0c0a0c0a;
    position: fixed;
    top: 12px;
    right: 180px;
  }

  .grid-container {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 140px 180px 0 180px;
    justify-content: center;
  }
  
  .grid-container>a.larger{
    width: 50%;
  }
  
  .grid-container>a.normal{
    width: 33%;
  }

  .menu-button{
    display: none;
  }
}

@media screen and (max-width: 1000px){
  .grid-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .navbar {
    overflow: hidden;
    background-color: #fffeff;
    position: fixed;
    display: flex;
    flex-flow: column;
    justify-content: start;
    -webkit-box-shadow: 0px 3px #0c0a0c0a;
    box-shadow: 0px 3px #0c0a0c0a;
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: 1;
  }

  .menu-button{
    height: 50px;
    background-size: auto 50px;
    right: 0px;
    top: 0;
    margin: 10px;
    left: 0px;
    position: fixed;
  }
  
  .grid-container{
    margin-top: 62px;
  }
}

.close-navbar-button{
  position:fixed;
  top:0px;
  right:0px;
  margin:10px;
  background-color: #fffeff;
  border-radius: 50%;
  width:75px;
  height:75px;
  background-position: center;
  background-size: 100% 100%;
}

.mobile-menu-backgroud{
  position:fixed;
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.5)
}

.App-logo{
  height: 40px;
  margin: 10px;
  position: fixed;
  top: 0px;
}

.App-header {
  height: 70px;
  background: #f1eff1;
  position: fixed;
  width: 100%;  
  display: flex;
  justify-content: space-around;
}

.navbar a {
  float: left;
  display: block;
  color: #7ca3d2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a.active{
  color: #f1f1f1;
  background-color: #7ca3d2;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.App-Input{
  font-size: 17px;
  border: none;
  display: flex;
}

.App-Input>input{
  border:none;
  background: transparent;
  padding:10px;
}

.Search-Button {
  background: none;
  border: none;
  cursor: pointer;
}

.Logo-Search{
  padding: 10px;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #fffeff;
  color: #7ca3d2;
  text-align: center;
}

.logo-footer{
  height: 22px;
}

.grid-container>a {
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
}

.new-container{
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  overflow: hidden;
  margin: 15px;
}

.new-container .new-publish-date{
  width: 100%;
  font-size: 14px;
  color:#c6c6c6;
}

.new-container .new-image{
  width:100%;
  background: #7c7c7c;
  height: 200px;
  overflow: hidden;
}

.new-container .new-image img{
  width: 100%;
  height:auto;
}

.new-container .new-info{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 15px;
}

.new-info .new-author ,
.new-info>h3{
  font-size:14px;
  color: #9bb7db;
  margin:5px;
}
.new-info .publish-date , 
.new-info>div{
  font-size:12px;
  color:#c6c6c6;
}


.grid-center{
  display: flex;
  justify-content: center;
}

/* PAGINATION */

.pages{
  position:fixed;
  bottom:20px;
  display: flex;
  justify-content: center;
  flex-flow: row;
  width:100%;  
}

.pages>ul{
  display: flex;
  flex-flow: row;
  list-style: none;
  justify-content: space-around;
  width: 200px;
}

.page{    
  display: inline-block;
  height: 45px;
  width: 45px;
  margin: 4px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  line-height: 45px;
  color: #c8c7c8;
  box-shadow: 0 6px 6px #e1dfe1;
  text-decoration: none;
}

.pagination:hover {
  text-decoration: none;
  color: #fff;
  background-color: #7ca3d2;
}

.active {
  background-color: #7ca3d2;
  color: #f1f1f1;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
